<section class="elementor-section">
    <div class="elementor-container">
        <div class="elementor-row">
            <div class="elementor-column">
                <div class="elementor-column-wrap">
                    <div class="elementor-widget-wrap elementor-widget-center">
                        <div class="elementor-widget">
                            <div class="elementor-element shadow">
                                <div class="table-top">
                                    <h3>{{tableTitle}}</h3>
                                </div>
                                <mat-table class="elementor-table" [dataSource]="tableData" matSort>
                                   <ng-container matColumnDef="name">
                                        <mat-header-cell class="table-header col-w2" *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                                        <mat-cell *matCellDef="let element" class="table-data col-w2">{{element.name}}</mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="email">
                                        <mat-header-cell class="table-header col-w2" *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                                        <mat-cell *matCellDef="let element" class="table-data col-w2">{{element.email}}</mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="totalRating">
                                        <mat-header-cell class="table-header col-w1" *matHeaderCellDef mat-sort-header>Rating</mat-header-cell>
                                        <mat-cell *matCellDef="let element" class="table-data col-w1">
                                            <i class="fa fa-star" *ngIf="element.totalRating > 0"></i>
                                            <i class="fa fa-star" *ngIf="element.totalRating > 1"></i>
                                            <i class="fa fa-star" *ngIf="element.totalRating > 2"></i>
                                            <i class="fa fa-star" *ngIf="element.totalRating > 3"></i>
                                            <i class="fa fa-star" *ngIf="element.totalRating > 4"></i>
                                            <i class="fa fa-star-o" *ngIf="element.totalRating < 5"></i>
                                            <i class="fa fa-star-o" *ngIf="element.totalRating < 4"></i>
                                            <i class="fa fa-star-o" *ngIf="element.totalRating < 3"></i>
                                            <i class="fa fa-star-o" *ngIf="element.totalRating < 2"></i>
                                            <i class="fa fa-star-o" *ngIf="element.totalRating < 1"></i>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="skillsCount">
                                        <mat-header-cell class="table-header col-w1" *matHeaderCellDef mat-sort-header>Skills</mat-header-cell>
                                        <mat-cell *matCellDef="let element" class="table-data col-w1">{{element.skillsCount}}</mat-cell>
                                    </ng-container>
                                    <!-- <ng-container matColumnDef="mentorPaymentDue">
                                        <mat-header-cell class="table-header col-w1" *matHeaderCellDef mat-sort-header>Payment Due</mat-header-cell>
                                        <mat-cell *matCellDef="let element" class="table-data col-w1">{{element.mentorPaymentDue}}</mat-cell>
                                    </ng-container> -->
                                    <!-- <ng-container matColumnDef="mentorPaymentCompleted">
                                        <mat-header-cell class="table-header col-w1" *matHeaderCellDef mat-sort-header>Payment Completed</mat-header-cell>
                                        <mat-cell *matCellDef="let element" class="table-data col-w1">{{element.mentorPaymentCompleted}}</mat-cell>
                                    </ng-container> -->
                                    <ng-container matColumnDef="status">
                                        <mat-header-cell class="table-header col-w1" *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                                        <mat-cell *matCellDef="let element" class="table-data col-w1">{{element.status ? 'Active' : 'Blocked'}}</mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="action">
                                        <mat-header-cell class="table-header col-w2" *matHeaderCellDef>Action</mat-header-cell>
                                        <mat-cell *matCellDef="let row; let element" class="table-data col-w2">
                                            <button mat-raised-button [color]="element.status ? 'warn' : 'accent'" (click)="onBlock(row)" [title]="element.status ? 'Block' : 'Activate'"><i class="fa {{element.status ? 'fa-ban' : 'fa-check'}} fa-lg"></i></button>
                                            <!-- <button mat-raised-button color="primary" (click)="onInfo(row)" title="Profile"><i class="fa fa-info-circle fa-lg"></i></button> -->
                                        </mat-cell>
                                    </ng-container>                                    
                                    <ng-container matColumnDef="noData" class="text-center">
                                        <mat-footer-cell *matFooterCellDef colspan="6">No mentors found.</mat-footer-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="tableDataItems['tableHeader']"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: tableDataItems['tableHeader']; "></mat-row>
                                    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{ 'hidden': !(tableData != null && tableData.filteredData.length==0)} "></mat-footer-row>
                                </mat-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>