<section class="elementor-section">
    <div class="elementor-container">
        <div class="elementor-row">
            <div class="elementor-column">
                <div class="elementor-column-wrap">
                    <div class="elementor-widget-wrap elementor-widget-center">
                        <div class="elementor-widget">
                            <div class="elementor-element shadow">
                                <div class="table-top">
                                    <h3>{{tableTitle}}</h3>
                                </div>
                                <mat-table class="elementor-table" [dataSource]="tableData" matSort>
                                    <ng-container matColumnDef="techId">
                                        <mat-header-cell class="table-header" *matHeaderCellDef mat-sort-header>Technology Id</mat-header-cell>
                                        <mat-cell *matCellDef="let element" class="table-data">{{element.techId}}</mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="name">
                                        <mat-header-cell class="table-header" *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                                        <mat-cell *matCellDef="let element" class="table-data">{{element.name}}</mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="basicFee">
                                        <mat-header-cell class="table-header" *matHeaderCellDef mat-sort-header>Basic Fee</mat-header-cell>
                                        <mat-cell *matCellDef="let element" class="table-data">{{element.basicFee}}</mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="commission">
                                        <mat-header-cell class="table-header" *matHeaderCellDef mat-sort-header>Commission</mat-header-cell>
                                        <mat-cell *matCellDef="let element" class="table-data">{{element.commission}}</mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="duration">
                                        <mat-header-cell class="table-header" *matHeaderCellDef mat-sort-header>Duration</mat-header-cell>
                                        <mat-cell *matCellDef="let element" class="table-data">{{element.duration}} Days</mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="status">
                                        <mat-header-cell class="table-header" *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                                        <mat-cell *matCellDef="let element" class="table-data">{{element.status ? 'Active' : 'Blocked'}}</mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="action">
                                        <mat-header-cell class="table-header" *matHeaderCellDef>Action</mat-header-cell>
                                        <mat-cell *matCellDef="let row; let element" class="table-data">
                                            <button mat-raised-button [color]="element.status ? 'warn' : 'accent'" (click)="onBlock(row)" [title]="element.status ? 'Block' : 'Activate'">
                                                <i class="fa {{element.status? 'fa-ban' : 'fa-check'}} fa-lg"></i></button>
                                            <button mat-raised-button color="primary" (click)="onEdit(row)" title="Edit Course"><i class="fa fa-edit fa-lg"></i></button>
                                        </mat-cell>
                                    </ng-container>
                                    <!-- <ng-container matColumnDef="loading ">
                                                <mat-footer-cell *matFooterCellDef colspan="6 ">
                                                    Loading data...
                                                </mat-footer-cell>
                                            </ng-container> -->
                                    <!-- <ng-container matColumnDef="noData ">
                                                <mat-footer-cell *matFooterCellDef colspan="6 ">
                                                    No data found.
                                                </mat-footer-cell>
                                            </ng-container> -->
                                    <mat-header-row *matHeaderRowDef="tableItems['tableHeader']"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: tableItems['tableHeader']; "></mat-row>
                                    <!-- <mat-footer-row *matFooterRowDef="[ 'loading'] " [ngClass]="{ 'hide': tableData!=null} "></mat-footer-row> -->
                                    <!-- <mat-footer-row *matFooterRowDef="[ 'noData'] " [ngClass]="{ 'hide': !(tableData!=null && tableData.length==0)} "></mat-footer-row> -->
                                </mat-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>