<section class="elementor-section">
    <div class="elementor-container">
        <div class="elementor-row">
            <div class="elementor-column">
                <div class="elementor-column-wrap">
                    <div class="elementor-widget-wrap elementor-widget-center">
                        <div class="elementor-widget">
                            <div class="elementor-element shadow">
                                <div class="table-top">
                                    <h3>{{tableTitle}}</h3>
                                </div>
                                <mat-table class="elementor-table" [dataSource]="tableData" matSort>
                                    <ng-container matColumnDef="name">
                                        <mat-header-cell class="table-header" *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                                        <mat-cell *matCellDef="let element" class="table-data">{{element.name}}</mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="basicFee">
                                        <mat-header-cell class="table-header" *matHeaderCellDef mat-sort-header>Basic Fee</mat-header-cell>
                                        <mat-cell *matCellDef="let element" class="table-data">{{element.basicFee}}</mat-cell>
                                    </ng-container><ng-container matColumnDef="commission">
                                        <mat-header-cell class="table-header" *matHeaderCellDef mat-sort-header>Commission</mat-header-cell>
                                        <mat-cell *matCellDef="let element" class="table-data">{{element.commission}} %</mat-cell>
                                    </ng-container><ng-container matColumnDef="skillSurcharge">
                                        <mat-header-cell class="table-header" *matHeaderCellDef mat-sort-header>Skill Surcharge</mat-header-cell>
                                        <mat-cell *matCellDef="let element" class="table-data">{{element.skillSurcharge}} %</mat-cell>
                                    </ng-container>                 
                                    <ng-container matColumnDef="totalFee">
                                        <mat-header-cell class="table-header" *matHeaderCellDef mat-sort-header>Total Fee</mat-header-cell>
                                        <mat-cell *matCellDef="let element" class="table-data">{{element.totalFee}}</mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="startDate">
                                        <mat-header-cell class="table-header" *matHeaderCellDef mat-sort-header>Start Date</mat-header-cell>
                                        <mat-cell *matCellDef="let element" class="table-data">{{element.startDate | date:'dd MMM yyyy'}}</mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="endDate">
                                        <mat-header-cell class="table-header" *matHeaderCellDef mat-sort-header>End Date</mat-header-cell>
                                        <mat-cell *matCellDef="let element" class="table-data">{{element.endDate | date:'dd MMM yyyy'}}</mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="activeStudents">
                                        <mat-header-cell class="table-header" *matHeaderCellDef mat-sort-header>Active Students</mat-header-cell>
                                        <mat-cell *matCellDef="let element" class="table-data">{{element.activeStudents}}</mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="action">
                                        <mat-header-cell class="table-header" *matHeaderCellDef>Action</mat-header-cell>
                                        <mat-cell *matCellDef="let row; let element" class="table-data">
                                            <button mat-raised-button color="accent" title="Delete"><i class="fa fa-remove fa-lg" (click)="onRemove(row)"></i></button>
                                            <button mat-raised-button color="primary" title="Edit"><i class="fa fa-edit fa-lg" (click)="onEdit(row)"></i></button>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="noData">
                                        <mat-footer-cell *matFooterCellDef colspan="6">
                                            No Skills found.
                                        </mat-footer-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="tableDataItems['tableHeader']"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: tableDataItems['tableHeader']; "></mat-row>
                                    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{ 'hide': !(tableData != null && tableData.filteredData.length==0)} "></mat-footer-row>                                
                                </mat-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>