<section class="elementor-section">
        <div class="elementor-container">
            <div class="elementor-row">
                <div class="elementor-column">
                    <div class="elementor-column-wrap">
                        <div class="elementor-widget-wrap elementor-widget-center">
                            <div class="elementor-widget">
                                <div class="elementor-element">                                    
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title">Wallet Balance</h5>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">$100</h5>
                                            <a class="btn btn-primary" href="">Withdraw</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-element">                                    
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title">Notifications</h5>
                                        </div>
                                        <div class="card-body">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">Cras justo odio</li>
                                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                                <li class="list-group-item">Vestibulum at eros</li>
                                            </ul>
                                            <a class="btn btn-primary" href="">Notifications</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>