.dialog-container {
    .fa-star {
        color: yellowgreen;
    }
    // .fa-star-o {
    //     color: yellowgreen;
    // }
    button {
        font-size: 14px;
        height: 40px;
        width: 120px;
    }
}