<section class="elementor-section">
    <div class="elementor-container">
        <div class="elementor-row">
            <div class="elementor-column">
                <div class="elementor-column-wrap">
                    <div class="elementor-widget-wrap elementor-widget-center">
                        <div class="elementor-widget">
                            <div class="elementor-element shadow">
                                <div class="table-top">
                                    <h3>{{tableTitle}}</h3>
                                </div>
                                <table mat-table class="elementor-table" [dataSource]="tableData" matSort>
                                    <!-- * hard coded table data -->
                                    <ng-container matColumnDef="studentName">
                                        <th mat-header-cell class="table-header col-w2" *matHeaderCellDef mat-sort-header>Name</th>
                                        <td mat-cell *matCellDef="let element" class="table-data col-w2">{{element.studentName}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="studentEmail">
                                        <th mat-header-cell class="table-header col-w2" *matHeaderCellDef mat-sort-header>Email</th>
                                        <td mat-cell *matCellDef="let element" class="table-data col-w2">{{element.studentEmail}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="studentCoursesActive">
                                        <th mat-header-cell class="table-header col-w1" *matHeaderCellDef mat-sort-header>Courses Active</th>
                                        <td mat-cell *matCellDef="let element" class="table-data col-w1">{{element.studentCoursesActive}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="studentCoursesCompleted">
                                        <th mat-header-cell class="table-header col-w1" *matHeaderCellDef mat-sort-header>Courses Completed</th>
                                        <td mat-cell *matCellDef="let element" class="table-data col-w1">{{element.studentCoursesCompleted}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="studentPaymentTotal">
                                        <th mat-header-cell class="table-header col-w1" *matHeaderCellDef mat-sort-header>Total Payment</th>
                                        <td mat-cell *matCellDef="let element" class="table-data col-w1">{{element.studentPaymentTotal}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="studentStatus">
                                        <th mat-header-cell class="table-header col-w1" *matHeaderCellDef mat-sort-header>Status</th>
                                        <td mat-cell *matCellDef="let element" class="table-data col-w1">{{element.studentStatus ? 'Active' : 'Blocked'}}</td>
                                    </ng-container>
                                    <!-- * hard coded table data ends here -->

                                    <!-- TODO: atomating the table data --starts -->
                                    <!-- <ng-container [matColumnDef]="column" *ngFor="let column of mentorListHeader">
                                                <th mat-header-cell *matHeaderCellDef>{{column}}</th>
                                                <td mat-cell *matCellDef="let element">{{element[column]}}</td>
                                            </ng-container> -->
                                    <!-- TODO: automating the table data --ends -->

                                    <ng-container matColumnDef="studentAction">
                                        <th mat-header-cell class="table-header col-w2" *matHeaderCellDef>Action</th>
                                        <td mat-cell *matCellDef="let row; let element" class="table-data col-w2">
                                            <button mat-raised-button (click)="onBlock(row)" [color]="element.studentStatus ? 'warn' : 'accent'"  [title]="element.studentStatus ? 'Block' : 'Activate'"><i class="fa fa-ban fa-lg"></i></button>
                                            <button mat-raised-button color="primary" (click)="onInfo(row)" title="Profile"><i class="fa fa-info-circle fa-lg"></i></button>
                                        </td>
                                    </ng-container>

                                    <!-- TODO: implement paginator -->
                                    <!-- <ng-container matColumnDef="loading ">
                                                <mat-footer-cell *matFooterCellDef colspan="6 ">
                                                    Loading data...
                                                </mat-footer-cell>
                                            </ng-container> -->
                                    <!-- <ng-container matColumnDef="noData ">
                                                <mat-footer-cell *matFooterCellDef colspan="6 ">
                                                    No data found.
                                                </mat-footer-cell>
                                            </ng-container> -->
                                    <mat-header-row *matHeaderRowDef="tableDataItems['tableHeader']"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: tableDataItems['tableHeader']; "></mat-row>
                                    <!-- <mat-footer-row *matFooterRowDef="[ 'loading'] " [ngClass]="{ 'hide': tableData!=null} "></mat-footer-row> -->
                                    <!-- <mat-footer-row *matFooterRowDef="[ 'noData'] " [ngClass]="{ 'hide': !(tableData!=null && tableData.length==0)} "></mat-footer-row> -->
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>