<section class="elementor-section">
    <div class="elementor-container">
        <div class="elementor-row">
            <div class="elementor-column">
                <div class="elementor-column-wrap">
                    <div class="elementor-widget-wrap elementor-widget-center">
                        <div class="elementor-widget">
                            <div class="elementor-element shadow">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>