.elementor-section {
    width: 100%;
    position: relative;
    display: block;
    .elementor-container {
        display: flex;
        position: relative;
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
        .elementor-row {
            width: 100%;
            display: flex;
            position: relative;
            .elementor-column {
                display: flex;
                width: 100%;
                position: relative;
                min-height: 1px;
                .elementor-column-wrap {
                    display: flex;
                    width: 100%;
                    position: relative;
                    align-items: center;
                    .elementor-widget-start {
                        align-content: flex-start;
                    }
                    .elementor-widget-end {
                        align-content: flex-end;
                    }
                    .elementor-widget-center {
                        align-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                    }
                    .elementor-widget-wrap {
                        position: relative;
                        width: 100%;
                        .elementor-widget {
                            width: 100%;
                            position: relative;
                            display: flex;
                            justify-content: center;
                            // background: -webkit-linear-gradient(left, #3931af, #00c6ff);
                            border-radius: 10px;
                            flex-direction: column;
                            padding: 20px;
                            .elementor-element {
                                display: flex;
                                flex-direction: row;
                                font-family: 'Roboto', sans-serif;
                                margin: 20px auto 20px auto;
                                width: 100%;
                                flex-wrap: wrap;
                                border-radius: 10px;
                                background-color: white;
                                .card {
                                    display: flex;
                                    width: fit-content;
                                    min-width: 360px;
                                    a {
                                        margin-top: 20px;
                                    }
                                }
                                
                            }
                        }
                    }
                }
                .elementor-element-populated {
                    padding: 10px 10px 10px 10px;
                }
            }
        }
    }
}

// ! CHANGES TO MATERIAL COMPONENT
.mat-form-field {
    font-size: 14px;
    width: 100%;
    .mat-form-field-outline {
        background-color: #ffffff;
    }
}

.card {
    margin: 5px 10px;
}