<section class="elementor-section">
    <div class="elementor-container">
        <div class="elementor-row">
            <div class="elementor-column">
                <div class="elementor-column-wrap">
                    <div class="elementor-widget-wrap elementor-widget-center">
                        <div class="elementor-widget">
                            <div class="elementor-element shadow">
                                    <div class="sidebar shadow">
                                            <div class="sidebar-user">
                                                <div class="picture-wrapper text-center">
                                                    <div class="justify-content-center">
                                                        <img class="img-fluid" src="assets/images/user_male.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="btn btn-outline-dark profile-details text-center">
                                                    <span class="name">John Doe</span><br>
                                                    <small class="role text-uppercase">{{userType}}</small>
                                                </div>
                                            </div>
                                            <div class="sidebar-menu">
                                                <ul class="ul-none">
                                                    <li *ngFor="let item of sidebarMenu | keyvalue" routerLink="{{item.value.link}}" class="btn btn-outline-dark menu-item text-left">
                                                        <!-- <li *ngFor="let item of sidebarMenu | keyvalue" (click)="onClickMenuItem(item.value.link)" class="btn btn-outline-dark menu-item text-left"> -->
                                                        <i class="fa {{item.value.icon}}">&nbsp;</i>
                                                        <span class="">{{item.value.name}}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>